{% extends 'layout.html.twig' %}

{% block page_title %}
    <h1>
        Jouer
    </h1>
{% endblock %}

{% block content %}
    <hr>
    {{dump(competitions)}}
    <section>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>              
                    <th>Identifiant <a href="{{path('app_competition_displaycompetitions', {'sort' : 'DESC'} )}}" title="">DESC</a></th>                
                    <th>Nom</th>                
                    <th>Mode de jeu</th>                
                    <th>Type de jeu</th>                                                       
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                    <tr>
                        <td>{{competition.id}}</td>
                        <td>{{competition.name}}</td>
                        <td>{{competition.gamemode}}</td>
                        <td>{{competition.typeofgame}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
{% endblock %}