{% extends 'layout.html.twig' %}

{% block page_title %}
    <h1>
        Jouer
    </h1>
{% endblock %}

{% block content %}
    <hr>
{#    {{dump(competitions)}}
    {{dump(app.user)}}
    {{dump(app.request)}}
    {{dump(app.session)}}#}
    <section>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>              
                    <th>
                        Identifiant 
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'ASC', 'orderby' : 'id'})}}" title="">ASC</a>
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'DESC', 'orderby' : 'id'})}}" title="">DESC</a>
                    </th>                
                    <th>
                        Nom
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'ASC', 'orderby' : 'name'})}}" title="">ASC</a>
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'DESC', 'orderby' : 'name'})}}" title="">DESC</a>                        
                    </th>                
                    <th>
                        Mode de jeu
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'ASC', 'orderby' : 'gamemode'})}}" title="">ASC</a>
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'DESC', 'orderby' : 'gamemode'})}}" title="">DESC</a>                        
                    </th>                
                    <th>
                        Type de jeu
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'ASC', 'orderby' : 'typeofgame'})}}" title="">ASC</a>
                        <a href="{{path('app_competition_displaycompetitions', {'sort' : 'DESC', 'orderby' : 'typeofgame'})}}" title="">DESC</a>                        
                    </th>
                    <th width="100px"></th> 
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                    <tr>
                        <td>{{competition.id}}</td>
                        <td>{{competition.name}}</td>
                        <td>{{competition.gamemode}}</td>
                        <td>{{competition.typeofgame}}</td>
                        <td><a href="{{path('app_game_displaygame', {'competition' : competition.id})}}" title="">Rejoindre</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
{% endblock %}