{% extends "base.html.twig" %}{# BASE LAYOUT #} 

{% block title %}Cavachess{% endblock %}{# TITLE #} 

{% block stylesheets %}{# CSS #}   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}{# END CSS #}   

{% block body %}{# BODY #} 
    <div class="container">{# CONTAINER BOOTSTRAP #}
        <nav class="navbar navbar-default">{# NAV ALL USERS #}
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand {% if app.request.get('_route') == 'homepage' %}active{% endif %}" href="{{ path('homepage') }}" title="Accueil"><span class="glyphicon glyphicon-home"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li {% if app.request.requestUri == '/cavachess/web/competition' %}class="active"{% endif %}><a href="{{path('app_competition_displaycompetitions')}}" title="Jouer">Jouer</a></li>
                <li><a href="#">Articles</a></li>
                <li class="dropdown {% if app.request.get('_route') == 'app_ranking_displayranking' %}active{% endif %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classements <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {{render(controller('AppBundle:Ranking:menu'))}}
                  </ul>
                </li>
                <li><a href="#">Membres</a></li>
            {% if app.user is not null %}
                <li {% if app.request.get('_route') == 'app_user_displayinfo' %}class="active"{% endif %}>
                    <a href="{{ path('app_user_displayinfo', {"id" : app.user.id}) }}" title="Voir mon profil">Mon profil</a>
                </li>
             {% endif %}         
                <li><a href="#">Contact</a></li>      
              </ul>
  
        {% if is_granted('ROLE_ADMIN') %}{# NAV ADMIN #}
            <ul class="nav navbar-nav navbar-right"> 
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li {% if app.request.get('_route') == 'app_admin_user_listusers' %}class="active"{% endif %}>
                            <a href="{{ path('app_admin_user_listusers') }}">
                                Gestion des joueurs
                            </a>
                        </li>
                        <li {% if app.request.requestUri == '/cavachess/web/admin/competition' %}class="active"{% endif %}>
                            <a href="{{ path('app_admin_competition_displaycompetitions') }}">
                                Gestion des compétitions
                            </a>
                        </li>
                        <li {% if app.request.get('_route') == 'app_admin_post_list' %}class="active"{% endif %}>
                            <a href="{{ path('app_admin_post_list') }}">
                                Gestion des posts
                            </a>
                        </li>
                        <li {% if app.request.get('_route') == 'app_admin_category_list' %}class="active"{% endif %}>
                            <a href="{{ path('app_admin_category_list') }}">
                                Gestion des catégories
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        {% endif %}{# END NAV ADMIN #}
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>{# END NAV ALL USERS #}            
    
        {# DISPLAY DANGER AS ERROR BOOTSTRAP #}            
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {% if label == 'error' %}{% set label = 'danger' %}{% endif %}
                <div class="alert alert-{{ label }}">
                    {{ "now"|date("H:i:s") }}: {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        
        {% block page_title %}{%endblock%}{# H1 #}
        {% block content %}{% endblock %}{# MAIN CONTENT #}

    </div>{# END CONTAINER #}
{% endblock %}{# END BODY #}

{% block javascripts %}{# SCRIPTS #}
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}{# END SCRIPTS #}