{% extends 'layout.html.twig' %}

{% block header %}{# HEADER #}
    <div class="row" style="position:relative;">
        <div class='col-sm-12 hidden-xs'>
            <div class="bg-cover-home">
            </div>
        </div>
        <div class='col-sm-12 bloc-cover-home hidden-xs'>            
            <div class ="col-sm-8" >
                <div class="col-sm-5">
                    <h1 class="h1-cavachess">CAVACHESS</h1> 
                </div>
                <div class="col-sm-7">
                    <p class="slogan"> <b>Jouez</b> aux échecs en ligne entre amis ! </p>
                </div>
            </div>     
          {% if app.user is null %}
            <div class="bloc-connexion col-sm-4"  >
                <p class="players-online text-center">Joueur(s) en ligne : <b>{{ cons | length + 138}}</b></p>                  
                <a href="{{ path('login') }}" class="btn btn-default btn-lg btn-block btn-primary">Se connecter</a>
                <a href="{{ path('app_security_register') }}" class="btn btn-default btn-lg btn-block btn-ok">S'inscrire</a>
                
                <a href="{{ path('login') }}" class="btn playbutton btn-default btn-lg btn-block btn-secondary">JOUER</a>
            </div>
            {% else %}
           
            <div class="row">
                <div class="bloc-connecte col-sm-4"  >
                     
                    <aside id="games-list-connecte">{# LISTE JEUX #}
            
                <div class="competitions-index-connecte col-sm-12">
                    {% for competition in competitions|slice(0, 4) %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{competition.id}}">
                                <h4 class="panel-title comp-name text-center text-uppercase">{{competition.name}}</h4>
                                <p class="panel-title play text-center"><strong><a href="{{path('app_game_displaygame', {'competition' : competition.id})}}" title="">Rejoindre</a></strong></p>

                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </aside>{# END LISTE JEUX #}
                </div>
            </div>
            {% endif %}
                
        </div>             
    </div>
{% endblock %}{# END HEADER #}
    
{% block content %}
    <div class="row">{# CONTENT #}      
        <div class="posts-index col-sm-8">{# SECTIONS #}
            <section id="top-post">{# TOP POST #}
                {% if comments != '' %}    
                    <h2>ACTUALITE DU MOMENT </h2>
                    {% include 'post/toppreview.html.twig' with {"post" : top_article, "comments" : comments} %}
                {% endif %}
            </section>{# END TOP POST #}
            
            <section id="top-post">{# LASTS POSTS #}
                <h2>Derniers articles</h2>                  
                {% for post in posts if post != top_article %}
                    {% include 'post/preview.html.twig' with {"post" : post} %}
                {% endfor %}
            </section>{# END SECTION POSTS #}
        </div>{# END SECTIONS #}
        
        <div class="jeu-index col-sm-4">{# ASIDES #}
            <section id="partie-rapide">
                <h2> PARTIE RAPIDE </h2>
                <aside  id="random-game" class="hidden-xs">{# PARTIE ALEATOIRE #}
                    <div id="board-index" class="center-block"></div>
                </aside>{# END PARTIE ALEATOIRE #}
            </section>
            <aside id="users-connected">{# UTILISATEURS CONNECTES #}
            {% if app.user is not null %} 
                <div style="background-color: moccasin; padding: 1em;">
                    <b>{{ cons | length }} joueur(s) connecté(s)</b>
                </div>
                <div style="background-color: lemonchiffon; text-align: center;">
                    {% for con in cons %}
                        {% if app.user.id == con.id %}
                            <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">---- Moi ----</a>
                        {% else %}
                            <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">{{con.username}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %} 
            </aside>{# END UTILISATEURS CONNECTES #}
            
            {% if app.user is null %}
            <aside id="games-list">{# LISTE JEUX #}
                <h2>COMPETITIONS</h2> 
                <div class="competitions-index col-sm-12">
                    {% for competition in competitions|slice(0, 4) %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{competition.id}}">
                                <h4 class="panel-title comp-name text-center text-uppercase">{{competition.name}}</h4>
                                <p class="panel-title play text-center"><strong><a href="{{path('app_game_displaygame', {'competition' : competition.id})}}" title="">Rejoindre</a></strong></p>

                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </aside>{# END LISTE JEUX #}
            {% else %}
                <aside id="games-list">{# LISTE JEUX #}
                <h2>TOUTES LES COMPETITIONS</h2> 
                <div class="competitions-index col-sm-12">
                    {% for competition in competitions|slice(0, 30) %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{competition.id}}">
                                <h4 class="panel-title comp-name text-center text-uppercase">{{competition.name}}</h4>
                                <p class="panel-title play text-center"><strong><a href="{{path('app_game_displaygame', {'competition' : competition.id})}}" title="">Rejoindre</a></strong></p>

                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </aside>{# END LISTE JEUX #}
                {% endif %}
        </div>{# END ASIDES #}      
        
    </div>{# END CONTENT #}     
                
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/chessboard-0.3.0.js')}}"></script>
    <script>
        var cfg = {
        pieceTheme: 'img/chesspieces/wikipedia/{piece}.png',
        position: 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R',
        showNotation: false,
      };
        var board = ChessBoard('board-index', cfg);
    </script>
{% endblock %}