{% extends 'layout.html.twig' %}

{% block page_title %}{% endblock %}

{% block content %}
   
    <div class="row" style="position:relative;">
        <div class='col-sm-12 hidden-xs'>
            <div class="bg-cover-home">
            </div>
        </div>
        <div class='col-sm-12 bloc-cover-home hidden-xs'>            
            <div class ="col-sm-9" >
                    <h1 class="h1-cavachess">CAVACHESS</h1> 
                    <p class="slogan text-right"> Jouez aux échecs en ligne contre les meilleurs ! </p>
            </div>                
            <div class="bloc-connexion col-sm-3"  >
                <p class="players-online text-center">Joueur(s) en ligne : {{ cons | length + 817}}</p>                  
                <button class="btn btn-default btn-lg btn-block btn-ok" ><a href="{{ path('login') }}">Se connecter</a></button>
                <button class="btn btn-default btn-lg btn-block" ><a href="{{ path('app_security_register') }}">S'inscrire</a></button>
            </div>
        </div>             
    </div>

    {% if comments != '' %}
    <div class="row">
        <div class="posts-index col-sm-8">
            <h2> CAVABLOG</h2> 
            <h3> Article le plus populaire</h2>
            <div class="row">
                <div class="col-sm-12">
                    {% include 'post/toppreview.html.twig' with {"post" : top_article, "comments" : comments} %}
                </div>
            </div>
        {% endif %}
                <h2>Derniers articles</h2>
            <div class="row">
                <div class="col-sm-12">
                    {% for post in posts %}
                        {% include 'post/preview.html.twig' with {"post" : post} %}
                    {% endfor %}
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        {% if app.user is not null %}
                        <div class="col-sm-11 col-sm-offset-1">
                            <div style="background-color: moccasin; padding: 1em;">
                                <b>{{ cons | length }} joueur(s) connecté(s)</b>
                            </div>
                            <div style="background-color: lemonchiffon; text-align: center;">
                            {#{{ dump(cons) }}#}
                            {% for con in cons %}
                                {% if app.user.id == con.id %}
                                    <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">---- Moi ----</a>
                                {% else %}
                                <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">{{con.username}}</a>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                     </div>
                </div>
            </div>
      
            <div class="jeu-index col-sm-4">
                <h2> JOUER </h2>
                    <div class="competitions-index col-sm-12">
                        {% for competition in competitions %}
                                <div class="col-sm-9">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading{{competition.id}}">
                                            <h4 class="panel-title comp-name text-center text-uppercase">{{competition.name}}</h4>
                                            <p class="panel-title play text-center"><strong><a href="{{path('app_game_displaygame', {'competition' : competition.id})}}" title="">Rejoindre</a></strong></p>
                                            {#<p>Rejoindre</p>#}
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(3) %}
                    </div>
                    <div class="row">
                            {% endif %}                    
                            {% endfor %}
                    </div>
            </div>
        </div>
    </div>
                
{% endblock %}