{% extends 'layout.html.twig' %}

{% block page_title %}{% endblock %}

{% block content %}
    {% if app.user is null %}
      
        <div class="coverhome row">
           
            <div class ="col-sm-9" >
                <div class="col-sm-5">
                    <h1 class="cavachess">CAVACHESS</h1> 
                </div>
                <div class="headline col-sm-7">
                    <h2 class="soustitre-cavachess"> Jouez aux échecs en ligne contre les meilleurs ! </h2>
                </div>
            </div>
          
            <div class="blocrightfront col-sm-3"  >
                <div class="boutonshome col-sm-12" style="margin-top:50px;">
                    <div style="background-color: rgb(252,251,249); ">
                        <p class="onlineplayer"> <b> Joueur(s) en ligne : {{ cons | length + 817}} </b> </p>
                    </div><br>
                    <a href="{{ path('login') }}">
                        <button type="button" class="btn btn-primary btn-lg btn-block" >Se connecter</button>
                    </a>
                    <a href="{{ path('app_security_register') }}">
                        <button type="button" class="btn btn-info btn-lg btn-block">S'inscrire</button>
                    </a>
               </div>
            </div>
                        
        </div>
    {% else %}    <h1> Jouer en Ligne  </h1>
        <div class="row">
            <div class="competitions col-sm-9">
                {% for competition in competitions %}
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{competition.id}}">
                                    <h4 class="panel-title comp-name text-center text-uppercase">{{competition.name}}</h4>
                                    <p class="panel-title play text-center"><strong><a href="{{path('app_game_displaygame', {'competition' : competition.id})}}" title="">Rejoindre</a></strong></p>
                                    {#<p>Rejoindre</p>#}
                                </div>
                            </div>
                        </div>
                        {% if loop.index is divisible by(3) %}
            </div>
        <div class="row">
                        {% endif %}                    
                    {% endfor %}
            </div>
        </div>
        
    {% endif %}
    {% if comments != '' %}
    <div class="row">
        <div class="col-sm-8">
    
    <h2 class="cavablog"> CAVABLOG</h2> 
    <h3> Article le plus populaire</h2>
    <div class="row">
        <div class="col-sm-12">
            {% include 'post/toppreview.html.twig' with {"post" : top_article, "comments" : comments} %}
        </div>
    </div>
    {% endif %}
    <h2>Derniers articles</h2>
    <div class="row">
        <div class="col-sm-12">
            {% for post in posts %}
                {% include 'post/preview.html.twig' with {"post" : post} %}
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div class="row">
                {% if app.user is not null %}
                <div class="col-sm-11 col-sm-offset-1">
                    <div style="background-color: moccasin; padding: 1em;">
                        <b>{{ cons | length }} joueur(s) connecté(s)</b>
                    </div>
                    <div style="background-color: lemonchiffon; text-align: center;">
                    {#{{ dump(cons) }}#}
                    {% for con in cons %}
                        {% if app.user.id == con.id %}
                            <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">---- Moi ----</a>
                        {% else %}
                        <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">{{con.username}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    </div>
    </div>
                
{% endblock %}