{% extends 'layout.html.twig' %}

{% block page_title %}{% endblock %}

{% block content %}
    {% if app.user is null %}
        <div class="row">
            <div class="titreoff col-sm-3">
            <h1>CAVACHESS</h1>
            </div>
            <div class="soustitreoff col-sm-9">
                <h2> Jouez aux échecs en ligne contre les meilleurs ! </h2>
            </div>
        </div>
        <div class="coverhome row" style="border:solid black 1px;  min-height:400px;">
           
            <div class ="coverfront col-sm-7" >
                <div class="imagefront col-sm-6 col-sm-offset-3">
              
                </div>
            </div>
            <div class="blocfront col-sm-5" >
                <div class="boutonshome col-sm-8 col-sm-offset-2" style="margin-top:50px;">
                    <div style="background-color: menu">
                        <b> Joueur(s) en ligne : {{ cons | length }} </b>
                    </div><br>
                    <a href="{{ path('login') }}">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Se connecter</button>
                    </a>
                    <a href="{{ path('app_security_register') }}">
                        <button type="button" class="btn btn-default btn-lg btn-block">S'inscrire</button>
                    </a>
               </div>
            </div>
        </div>
    {% else %}    
        
    {% endif %}
    {% if comments != '' %}
    <h2>Article le plus populaire</h2>
    <div class="row">
        <div class="col-sm-8">
            {% include 'post/toppreview.html.twig' with {"post" : top_article, "comments" : comments} %}
        </div>
    </div>
    {% endif %}
    <h2>Derniers articles</h2>
    <div class="row">
        <div class="col-sm-8">
            {% for post in posts %}
                {% include 'post/preview.html.twig' with {"post" : post} %}
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div class="row">
                {% if app.user is not null %}
                <div class="col-sm-11 col-sm-offset-1">
                    <div style="background-color: moccasin; padding: 1em;">
                        <b>{{ cons | length }} joueur(s) connecté(s)</b>
                    </div>
                    <div style="background-color: lemonchiffon; text-align: center;">
                    {#{{ dump(cons) }}#}
                    {% for con in cons %}
                        {% if app.user.id == con.id %}
                            <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">---- Moi ----</a>
                        {% else %}
                        <br/><a href="{{ path('app_user_displayinfo', {"id": con.id}) }}">{{con.username}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}