{{form_start(form, {'attr': {'method' : 'post', 'action' : path('app_admin_competition_addgamemode')}}) }}
{{form_row(form.name)}} {# name #}
{{form_row(form.gametime)}} {# game time #}
{{form_row(form.description)}} {# game mode description #}
<div class="form-btn-group pull-right">
    <button type="submit" id="addgamemode" class="btn btn-default btn-ok">Enregistrer</button>
    <a href="{{path('app_admin_competition_displaycompetitions')}}" class="btn btn-default" title="">Annuler</a>
</div>
{{form_end(form)}}