{% extends 'layout.html.twig' %}

{% block page_title %}
    <h1>
        Gestion compétitions
    </h1>
{% endblock %}

{% block content %}
    <hr>
    <section>
        
    </section>
    
    <div class="clearfix"></div>
    
    <section>
        <h2>Opération compétition</h2>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-3">
                {{render(controller('AppBundle:Admin\\Competition:addTypeOfGame'))}}
            </div>
            
            <div class="col-sm-4 col-md-4 col-lg-3">
                {{render(controller('AppBundle:Admin\\Competition:addGameMode'))}}
            </div>
            
            <div class="col-sm-4 col-md-4 col-lg-3">
                {% if app.request.get('_route') == 'app_admin_competition_gestioncompetitions' %}
                    {{render(controller('AppBundle:Admin\\Competition:addCompetition'))}}
                {% elseif app.request.get('_route') == 'app_admin_competition_editcompetition' %}
                    {{form_start(form)}} 
                    {{form_row(form.name)}}
                    {{form_row(form.game_mode_id)}}
                    {{form_row(form.type_of_game_id)}}
                    <div class="form-btn-group pull-right">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a href="{{path('app_admin_competition_gestioncompetitions')}}" class="btn btn-default" title="">Annuler</a>
                    </div>
                    {{form_end(form)}}
                {% endif %}
            </div>
        </div>
    </section>
    
    <div class="clearfix"></div>
    
    <section>
        <h2>Liste des compétitions</h2>    
        {{render(controller('AppBundle:Admin\\Competition:listCompetitions'))}}
    </section>    
{% endblock %}
