<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>              
            <th>Identifiant</th>                
            <th>Nom</th>                
            <th>Mode de jeu</th>                
            <th>Type de jeu</th>                             
            <th>Chronmètre</th>                             
            <th width="100px"></th>                             
            <th width="100px"></th>                             
        </tr>
    </thead>
    <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{competition.id}}</td>
                <td>{{competition.name}}</td>
                <td>{{competition.gamemode}}</td>
                <td>{{competition.typeofgame}}</td>
                <td>{{competition.gamemode.gametime|date("H:i:s")}}</td>
                <td><a href="{{path('app_admin_competition_editcompetition', {'id': competition.id})}}" title="">Modifier</a></td>
                <td><a href="{{path('app_admin_competition_deletecompetition', {'id': competition.id})}}" title="">Supprimer</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" align="center">Aucun résultat</td>
            </tr>
        {% endfor %}
    </tbody>
</table>