{% extends 'layout.html.twig' %}

{% block page_title %}
    <h1>
        Liste compétitions
    </h1>
{% endblock %}

{% block content %}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>              
            <th>Identifiant</th>                
            <th>Nom</th>                
            <th>Mode de jeu</th>                
            <th>Type de jeu</th>                             
        </tr>
    </thead>
    <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{competition.id}}</td>
                <td>{{competition.name}}</td>
                <td>{{competition.gamemode}}</td>
                <td>{{competition.typeofgame}}</td>
                <td><a href="{{path('app_admin_competition_editcompetition', {'id': competition.id})}}" title="">Modifier</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" align="center">Aucun résultat</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
