{% extends 'layout.html.twig' %}

{% block content %}
    
 <article>
        <b>{{ user.firstname}} {{ user.lastname }}</b><br/><b>Pseudo: {{ user.username }}</b><br>
        <div><b>Email: </b><i>{{ user.email }}</i></div>
        <br>
        <div><b>Avatar: </b><br> <img src="{{ asset('upload/' ~ user.avatar) }}" height="150px"/></div> {# Le filtre raw permet d'afficher le HTML #}
    </article>
{% endblock %}