{% extends "layout.html.twig" %}

{% block page_title %}{% endblock %}
{% block content %}
    <h1>Liste des utilisateurs</h1>
    <hr>
    
    <table class="table">
            <th>Prénom</th>
            <th>Nom</th>
            <th>Pseudo</th>
            <th>E-Mail</th>
            <th>Avatar</th>
            <th>Voir le profil</th>
            <th>Ajouter aux amis</th>
            <th width="100px"></th>
        </tr>
        {{ dump(app.user)}}
        {{ dump(app.user.allfriends)}}
        {% for user in users if user.id != app.user.id %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.avatar %}
                        <img src="{{ asset('upload/avatar/' ~ user.avatar) }}" style="max-height:40px; margin-bottom: 5px;"/>
                    {% else %}
                        <img src="{{ asset('img/default_avatar.png') }}" style="max-height:40px; margin-bottom: 5px;"/>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_user_displayinfo', {"id": user.id}) }}" class="btn btn-info">
                        <span class="glyphicon glyphicon-search" aria-hidden="true" title="Voir le profil"></span>
                    </a>
                </td>
                <td>
                    {#{% for friend in app.user.allfriends %}
                        {% set compteur = 0 %}

                      {% for friend in app.user.allfriends %}

                        {% if user.id == app.user.allfriends[compteur].id %}
                            <a class="btn btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" title="Déjà ami"></span>
                            </a>
                        {% else %}
                            <a href="{{ path('app_user_addfriend', {"id": user.id}) }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Ajouter"></span>
                            </a>
                        {% endif %}
                        {% set compteur = compteur +1 %}
                    {% endfor %}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" align="center">Aucun résultat</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}