<div>
        <div class="row well well-sm">
            <div class="col-sm-4">
                <h4>
                {% if user.avatar %}
                    <img src="{{ asset('upload/avatar/' ~ user.avatar) }}" style="max-height:30px;"/>
                {% else %}
                    <img src="{{ asset('img/default_avatar.png') }}" style="max-height:30px;"/>
                {% endif %}
                </h4>
            </div>
            <div class="col-sm-8">
                <h5>
                    <a href="{{ path('app_user_displayinfo', {"id": user.id}) }}">
                        <strong>{{ user.username }}</strong>
                    <a/>
                </h5>
                <p>
                    {% if user.player|length != 0 %}
                        {% for test in user.player %}
                            {% if test.points > 1200 %}
                                <strong>{{test.competition_id.name}}:</strong> 
                                {{test.points}} points
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
</div>