{% extends 'layout.html.twig' %}

{% block content %}
    <h1 style="margin-bottom:2em">Profil de {{ user.username }}</h1>
    <hr>
    <div class="row">       
        <div class="col-sm-3">
            <strong> Statut : </strong>
            {% if user.lastActivity > delay %}
                <em style='color: #6d6'>** EN LIGNE **</em>
            {% else %}
                <em style='color: crimson'>** hors-ligne **</em>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            {% if user.avatar %}
                <img src="{{ asset('upload/avatar/' ~ user.avatar) }}" width="100%"/>
            {% else %}
                <img src="{{ asset('img/default_avatar.png') }}" width="100%"/>
            {% endif %}
        </div>        
        <div class="col-sm-6">            
            {% if app.user %}
                {% if user.role == 'ROLE_ADMIN' %}
                    <strong>Administrateur</strong><hr/>
                {% endif %}
                <ul>
                    {% if id == app.user.id %}
                        <li><strong>Nom: </strong> {{ user.lastname|title }}</li>
                        <li><strong>Prénom: </strong>{{ user.firstname|title}}</li>
                        <li><strong>Email: </strong><em>{{ user.email }}</em></li>
                        {% endif %}
            {% endif %}
                <li>Membre depuis le <em> {{ user.date|date('d-m-Y') }}</em></li>
                <li>Dernière connexion  à <em>{{ user.lastActivity|date('H:i')}} le {{user.lastActivity|date('d-m-Y') }}</em></li>
                    {% if games.played != 0%}
                    <li>
                        <strong> Nombre parties jouées : </strong> <em>{{games.played}} ({{games.won}} victoires, {{games.lost}} défaites)</em>
                    </li>
                    <li>
                        <strong> Temps de jeu effectif : </strong> <em>{{games.timeplayed}}</em>
                    </li>
                    <li>
                        <strong> Joueur le plus joué : </strong> <em>{{games.playermostplayed}}</em>
                    </li>
                    <li>
                        <strong> Compétition la plus jouée : </strong> <em>{{games.competitionmostplayed}}</em>
                    </li>
                {% else %}
                    Aucune partie jouée
                {% endif %}
            </ul>     
            <strong> Classements : </strong> <br/>
                <ul>
                    {% for ranking in rankings %}
                        <li>{{ranking.competition_id.name}} : {{ranking.points}} points</li>
                    {% else %}
                        <li>Aucun classement</li>
                    {% endfor %}
                   
                </ul>
            <br/>
        </div>
        <div class="col-sm-3">
            <strong>Contacts de {{ user.username }}:</strong>
                {% for friend in user.allfriends %}
                    {% include 'user/preview.html.twig' with {"user" : friend} %}
                {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Ses derniers articles</h2>
            {% for post in posts %}
                {% include 'post/preview.html.twig' with {"post" : post} %}
            {% else %}
                <p>Cet utilisateur n'a pas encore posté d'articles</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}