{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Profil de {{ user.username }}</h1>
    <hr>
    <div class="row">
        <section>
            <div class="col-sm-3">
                {% if user.avatar %}
                    <img src="{{ asset('upload/avatar/' ~ user.avatar) }}" width="100%"/>
                {% else %}
                    <img src="{{ asset('img/default_avatar.png') }}" width="100%"/>
                {% endif %}
                <div id='modifier-profil'><a href="{{ path('app_user_editusers', {"id": user.id}) }}" class="btn btn-default btn-ok">Modifier mon profil</a></div>
            </div>        
            <div class="col-sm-6" id="info-user">            
                {% if app.user %}
                {% if user.lastActivity > delay %}
                    <h4><em style='color: #6d6'>** EN LIGNE **</em></h4>
                {% else %}
                    <h4><em style='color: crimson'>** hors-ligne **</em></h4>
                {% endif %}
                    <ul>
                        {% if id == app.user.id %}
                            <li><strong>Nom: </strong> {{ user.lastname|title }}</li>
                            <li><strong>Prénom: </strong>{{ user.firstname|title}}</li>
                            <li><strong>Email: </strong><em>{{ user.email }}</em></li>
                            {% endif %}
                {% endif %}
                    <li>Membre depuis le <em> {{ user.date|date('d-m-Y') }}</em></li>
                    <li>Dernière connexion  à <em>{{ user.lastActivity|date('H:i')}} le {{user.lastActivity|date('d-m-Y') }}</em></li>
                        {% if games.played != 0%}
                        <li>
                            <strong> Nombre parties jouées : </strong> <em>{{games.played}} ({{games.won}} victoires, {{games.lost}} défaites)</em>
                        </li>
                        <li>
                            <strong> Temps de jeu effectif : </strong> <em>{{games.timeplayed}}</em>
                        </li>
                        <li>
                            <strong> Joueur le plus joué : </strong> <em>{{games.playermostplayed}}</em>
                        </li>
                        <li>
                            <strong> Compétition la plus jouée : </strong> <em>{{games.competitionmostplayed}}</em>
                        </li>
                    {% else %}
                        Aucune partie jouée
                    {% endif %}
                </ul>
                <hr>
                <h4> Classements </h4>
                <ul>
                    {% for ranking in rankings %}
                        <li>{{ranking.competition_id.name}} : {{ranking.points}} points</li>
                    {% else %}
                        <li>Aucun classement</li>
                    {% endfor %}

                </ul>
            </div>
        </section>
        <aside>
            <div class="col-sm-3">
                <h2>Amis</h2>
                    {% for friend in user.allfriends|slice(0,5) %}
                        {% include 'user/preview.html.twig' with {"user" : friend} %}
                    {% endfor %}
            </div>
        </aside>
    </div>
            
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h2>Dernier articles postés</h2>
                {% for post in posts|slice(0,3) %}
                    {% include 'post/preview.html.twig' with {"post" : post} %}
                {% else %}
                    <p>Cet utilisateur n'a pas encore posté d'articles</p>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}