{% extends 'layout.html.twig' %}
{% block page_title %}<h1 style="margin-bottom:2em">Profil de <b>{{ user.username }}</b></h1>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <b> Statut : </b> ***<i> EN LIGNE ou hors-ligne </i> <br/>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('upload/' ~ user.avatar) }}" width="100%"/>
        </div>
        
        <div class="col-sm-9">
            {% if user.role == 'ROLE_ADMIN' %}
                <b style="color: darkred;">Administrateur</b><hr/>
            {% endif %}
            
          {% if id == app.user.id %}
               <b>Nom: </b> {{ user.lastname|title }}<br/>
               <b>Prénom: </b>{{ user.firstname|title}}<br/>
               <b> Email: </b><i>{{ user.email }}</i><br/>
               <br/>
           {% endif %}
           Membre depuis le <i> {{ user.date|date('d-m-Y') }}</i> <br/>
           Dernière connection  le <i>***date de dernière connexion de l'user </i> <br/>
           <br/>
            <b> Nombre parties jouées : </b> <i>***X récupérer le nombre de partie jouées par l'user </i>
                 <br/>
                 <b> Temps de jeu effectif : </b> <i>***Nombre d'heures de jeu de l'user, en heures </i>
                 <br/>
                 <br/>
             <b> Classements : </b> <br/>
                <ul>
                    <li> ***<i>GameMode X :  classement de l'user sur le Game Mode X</i></li>
                    <li> ***<i>GameMode Y :  classement de l'user sur le Game Mode Y</i></li>
                    <li> ***<i>GameMode Z :  classement de l'user sur le Game Mode Z</i></li>
                   
                </ul>
            <br/>
        </div>
    </div>
    <div class="row">
        <h2>Ses derniers articles</h2>
        {% for post in posts %}
            {% include 'post/preview.html.twig' with {"post" : post} %}
        {% endfor %}
    </div>
{% endblock %}