{% extends 'layout.html.twig' %}
{% block page_title %}<h1 style="margin-bottom:2em">Profil de <b>{{ user.username }}</b></h1>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('upload/' ~ user.avatar) }}" width="100%"/>
        </div>
        
        <div class="col-sm-9">
            {% if user.role == 'ROLE_ADMIN' %}
                <b style="color: darkred;">Administrateur</b><hr/>
            {% endif %}
            
          {% if id == app.user.id %}
               <b>Nom: {{ user.lastname|title }}</b><br/>
               <b>Prénom: </b><b>{{ user.firstname|title}}</b><br/>
               <b> Email: </b><i>{{ user.email }}</i><br/>
           {% endif %}
            <b> Pseudo: </b><b>{{ user.username }}<br/>
            
            <b> Classements : </b> <br/>
                <ul>
                    <li> Bullet : ... </li>
                    <li> Blitz : ... </li>
                    <li>  ....  : ... </li>
                </ul>
            <br/>
            <b> Articles postés: </b><b> <br/>
                    
        </div>
    </div>
{% endblock %}