{% extends 'layout.html.twig' %}
{% block page_title %}<h1 style="margin-bottom:2em">Profil de <strong>{{ user.username }}</strong></h1>{% endblock %}

{% block content %}
    {{dump(games)}}
    <div class="row">
        <div class="col-sm-3">
            <strong> Statut : </strong> ***<em> EN LIGNE ou hors-ligne </em> <br/>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('upload/' ~ user.avatar) }}" width="100%"/>
        </div>        
        <div class="col-sm-9">            
            {% if app.user %}
                {% if user.role == 'ROLE_ADMIN' %}
                    <strong>Administrateur</strong><hr/>
                {% endif %}
            <ul>
                {% if id == app.user.id %}
                    <li><strong>Nom: </strong> {{ user.lastname|title }}</li>
                    <li><strong>Prénom: </strong>{{ user.firstname|title}}</li>
                    <li><strong>Email: </strong><em>{{ user.email }}</em></li>
                {% endif %}
            {% endif %}
           <li>Membre depuis le <em> {{ user.date|date('d-m-Y') }}</em></li>
           <li>Dernière connexion  à <em>{{ user.lastActivity|date('H:i')}} le  {{user.lastActivity|date('d-m-Y') }}</em></li>
            <li><strong> Nombre parties jouées : </strong> <em>
                {% if games.played != 0%}
                    {{games.played}} ({{games.won}} victoires, {{games.lost}} défaites)</em>
                {% else %}
                    Aucune partie jouée
                {% endif %}
            </li>
            <li><strong> Temps de jeu effectif : </strong> <em>{{games.timeplayed}}</em></li>
            </ul>     
            <strong> Classements : </strong> <br/>
                <ul>
                    <li> ***<em>GameMode X :  classement de l'user sur le Game Mode X</em></li>
                    <li> ***<em>GameMode Y :  classement de l'user sur le Game Mode Y</em></li>
                    <li> ***<em>GameMode Z :  classement de l'user sur le Game Mode Z</em></li>
                   
                </ul>
            <br/>
        </div>
    </div>
    <div class="row">
        <h2>Ses derniers articles</h2>
        {% for post in posts %}
            {% include 'post/preview.html.twig' with {"post" : post} %}
        {% else %}
            <p>Cet utilisateur n'a pas encore posté d'articles</p>
        {% endfor %}
    </div>
{% endblock %}