{% extends 'layout.html.twig' %}

{% block page_title %}<h1>{{ post.title }}</h1>{% endblock %}
        
{% block content %}
    <post>
        <p>Dans 
            {% for category in post.categories %}
                <span class="category-tag"> 
                    {{ category }}
                </span>&nbsp
            {% endfor %} 
        par 
            <a href="{{ path('app_user_displayinfo', {"id": post.author.id}) }}">
                {{ post.author.username }}
            </a>
        <p>{{ post.description }}</p>
        <div>{{ post.content | raw }}</div> {# le filtre raw permet d'afficher le HTML #}
    </post>
        
    <h2>Commentaires</h2>
    
    {% if app.user %}

        <div class="well">
            <h3>Votre commentaire</h3>
                {{ form_start(form) }}
                {{ form_row(form.content) }}
                <div class="form-btn-group pull-right">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                <div class="clearfix"></div>
                {{ form_end(form) }}
        </div>
    {% else %}    
        <div class="alert alert-info">
            Vous devez être connecté pour publier un commentaire
        </div>
    {% endif %}
    
    {% for comment in comments %}
        <div class="media">
            {% if comment.user.avatar %}
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ asset('upload/' ~ comment.user.avatar) }}" style="width: 64px; height: 64px;" data-holder-rendered="true">
                    </a>
                </div>
            {% endif %}    
            <div class="media-body">
                <h4 class="media-heading">{{ comment.user.username }}
                    <small>
                        {{ comment.date | date('d-m-Y H:i:s')}}
                    </small>
                </h4>
                {{ comment.content | nl2br }}
            </div>
        </div>
        <div class=" media">
                <div class=""media-left">
                {% if comment.user.avatar %}
                    <img class="media-object" src="{{ asset('upload/' ~ comment.user.avatar) }}" alt="avatar">
                {% endif %}
                </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ comment.user.username }}
                    <small>
                        {{ comment.date | date('d-m-Y H:i:s')}}
                    </small>
                </h4>
                {{ comment.content | nl2br }}
            </div>
        </div>
        
    {% endfor %}  
    
{% endblock %}
