{% extends 'layout.html.twig' %}
    
{% block content %}
    <h1>
        Liste des posts
    </h1>
    <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 list-group">
                        <a href="{{ path('app_post_displayall') }}" class="list-group-item active">Toutes les catégories</a>
                            {% if category != '' %}
                                <a href="{{ path('app_post_displaybycategory', {"id": category.id}) }}" class="list-group-item"> 
                                         <span class="badge">{{ category.posts|length }}</span>
                                        {{ category.name }}
                                    </a>
                            {% else %}        
                                {% for category in categories %}
                                    <a href="{{ path('app_post_displaybycategory', {"id": category.id}) }}" class="list-group-item"> 
                                         <span class="badge">{{ category.posts|length }}</span>
                                        {{ category.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="col-sm-10">
                        {% for post in posts %}
                            {% include 'post/preview.html.twig' with {"post" : post} %}
                        {% else %}
                            <p>Aucun post pour le moment !</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}