<article>
    <h3>
        <a href="{{ path('app_post_display', {"id": post.id}) }}">
            {{ post.title }}
            <small>
                <i class="glyphicon glyphicon-share"></i>
            </small>
        </a>
        
    
    </h3>
         <p>Dans 
        {% for category in post.categories %}
            <a href="{{ path('app_post_displaybycategory', {"id": category.id}) }}">
                <span class="category-tag"> 
                    {{ category }}
                </span>&nbsp
            </a>
        {% endfor %} 
        
        {% if app.request.get('_route') != 'app_user_displayinfo' %}
            par 
            <a href="{{ path('app_user_displayinfo', {"id": post.author.id}) }}">
                {{ post.author.username }}
            </a>
           
        {% endif %}
    </p>
    <div class ="well article-index">{{ post.description }}</div>
    <hr/>
            
</article>