<article>
    <h3>
        {{ post.title }}
        <small>
            <a href="{{ path('app_post_display', {"id": post.id}) }}">
                <i class="glyphicon glyphicon-share"></i>
            </a>
        </small>
    
    </h3>
    <div class ="well">{{ post.description }}</div>
    <p>Dans 
        {% for category in post.categories %}
            <a href="{{ path('app_post_displaybycategory', {"id": category.id}) }}">
                <span class="category-tag"> 
                    {{ category }}
                </span>&nbsp
            </a>
        {% endfor %} 
        
        {% if app.request.get('_route') != 'app_user_displayinfo' %}
            par 
            <a href="{{ path('app_user_displayinfo', {"id": post.author.id}) }}">
                {{ post.author.username }}
            </a>
            <hr/>
        {% endif %}
    </p>
</article>