<article>
    <h3>
        {{ post.title }}
        <small>
            <a href="{{ path('app_post_display', {"id": post.id}) }}">
                <i class="glyphicon glyphicon-share"></i>
            </a>
        </small>
    
    </h3>
    <div class ="well">{{ post.description }}</div>
    <p>Dans 
        {% for category in post.categories %}
        <span class="category-tag"> 
            {{ category }}
        </span>&nbsp
        {% endfor %} 
        
        {% if app.request.get('_route') != 'app_user_displayinfo' %}
            par 
            <a href="{{ path('app_user_displayinfo', {"id": post.author.id}) }}">
                {{ post.author.username }}
            </a>
        {% endif %}
    </p>
    {% for comment in comments %}
        <div class="well well-sm">
            <h4>
                {% if comment.user.avatar %}
                    <img src="{{ asset('upload/' ~ comment.user.avatar) }}" height="30px">
                {% endif %}
                {{ comment.user.username }}
            </h4>
            <h5>
                {{ comment.title }}
                <small>
                    {{ comment.date | date('d-m-Y H:i:s')}}
                </small>
            </h5>
            <p>{{ comment.content | nl2br }}</p>     
        </div>
        
    {% endfor %}
</article>