<article>
    <h3>
        <a href="{{ path('app_post_display', {"id": post.id}) }}">
        {{ post.title }}
        <small>
            
                <i class="glyphicon glyphicon-share"></i>
            
        </small>
    
    </h3>
         <p class="comment-index">Dans 
        {% for category in post.categories %}
        <span class="category-tag"> 
            {{ category }}
        </span>&nbsp
        {% endfor %} 
        
        {% if app.request.get('_route') != 'app_user_displayinfo' %}
            par 
            <a href="{{ path('app_user_displayinfo', {"id": post.author.id}) }}">
                {{ post.author.username }}
            </a>
        {% endif %}
    </p>
    <div class ="well">{{ post.description }}</div>
    </a>
   
    {% for comment in comments %}
        <div class="well well-sm">
            <h4>
                {% if comment.user.avatar %}
                    <img src="{{ asset('upload/' ~ comment.user.avatar) }}" style="max-height:40px; margin-bottom: 5px;">
                {% endif %}
                {{ comment.user.username }}
            </h4>
            <h5>
                <small>
                    <p> {{ comment.date | date('d-m-Y H:i:s')}} </p>
                </small>
                {{ comment.title }}
                
            </h5>
            <p>{{ comment.content | nl2br }}</p>     
        </div>
        
    {% endfor %}
</article>