{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{competition}}</h1>
    <hr>
    {% if rankings is empty %}
        <p>Ce classement n'a pas encore d'utilisateurs enregistrés</p>
    {% else %}
    <div class="row">
        <div class='col-sm-12'>
            <section id="ranking-statistics">{# STATISTICS #}
                <h2 class="text-center">Statistiques</h2>
                {% if games is empty %}
                <p>Ce classement n'a pas encore de parties jouées</p>
                {% else %}
                <div class='col-md-6 col-sm-12'>
                    <ul class='div-stats1'>
                        <li><span class="glyphicon glyphicon-king"></span> Parties jouées : <strong>{{games|length}}</strong></li>
                        <li><span class="glyphicon glyphicon-tower"></span> Partie la plus longue : <strong>{{statistics.maxgamelength}}</strong></li>
                        <li><span class="glyphicon glyphicon-queen"></span> Nombre total de coups joués : <strong>{{statistics.nbplays}}</strong></li>
                        <li><span class="glyphicon glyphicon-bishop"></span> Joueur ayant le plus joué : <strong>{{statistics.topplayer}}</strong></li>
                    </ul>
                </div>
                <div class='col-md-6 col-sm-12'>
                    <ul class='div-stats2'>
                        <li><span class="glyphicon glyphicon-king"></span> Temps de jeu total : <strong>{{statistics.totaltime}}</strong></li>                
                        <li><span class="glyphicon glyphicon-tower"></span> Maximum de coups joués dans une partie : <strong>{{statistics.nbmaxplays}}</strong></li>                          
                        <li><span class="glyphicon glyphicon-queen"></span> Coups moyens par partie : <strong>{{statistics.avgplays}}</strong></li>
                        <li><span class="glyphicon glyphicon-bishop"></span> Temps de jeu moyen par partie : <strong>{{statistics.avgtime}}</strong></li>
                    </ul>
                </div>
            </section>{# END STATISTICS #}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class='col-sm-12'>
            <section id="ranking-list" class="hidden-xs">{# RANKING TABLET DESKTOP #}
                <h2 class="text-center">Classement</h2>
                {% set rank = 0 %}         
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>           
                                    <th>Rang</th>  
                                    <th>Joueur</th>
                                    <th>Points</th>
                                    <th>Victoires</th>
                                    <th>Défaites</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ranking in rankings %}
                                    {% set rank = rank + 1 %}
                                    {% set wincounter = 0 %}
                                    {% set lostcounter = 0 %}
                                    {% for game in games %}
                                        {% if ranking.user_id.id == game.idwinner.id %}
                                            {% set wincounter = wincounter + 1 %}
                                        {% elseif ranking.user_id.id == game.idlooser.id %}
                                            {% set lostcounter = lostcounter + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    <tr>
                                        <td>{{rank}}</td>
                                        <td><a href="{{ path('app_user_displayinfo', {"id" : ranking.user_id.id}) }}" title="Profil de {{ranking.user_id.username}}" target="_blanck">{{ranking.user_id.username}}</a></td>
                                        <td>{{ranking.points}}</td>
                                        <td>{{wincounter}}</td>
                                        <td>{{lostcounter}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </section>{# END RANKING TABLET DESKTOP #}
            <section id="ranking-list" class="visible-xs">{# RANKING MOBILE #}
                <h2 class="text-center">Classement</h2>
                {% set rank = 0 %}         
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>           
                                    <th>Rang</th>  
                                    <th>Joueur</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ranking in rankings %}
                                    {% set rank = rank + 1 %}
                                    <tr>
                                        <td>{{rank}}</td>
                                        <td><a href="{{ path('app_user_displayinfo', {"id" : ranking.user_id.id}) }}" title="Profil de {{ranking.user_id.username}}" target="_blanck">{{ranking.user_id.username}}</a></td>
                                        <td>{{ranking.points}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </section>{# END RANKING MOBILE #}            
        </div>
    </div>
    {% endif %}
{% endblock %}
