{% extends 'layout.html.twig' %}
        
{% block content %}
    <h1>Contact</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.body) }}
    <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-default btn-ok">Envoyer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}