{% extends "layout.html.twig" %}


{% block content %}
    <h1>Inscription joueur</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.avatar) }}
    <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        
    </div>
   {{ form_end(form) }}
{% endblock %}
